body {
  color: #f8f8f8;
  background: #0a0f14;

  margin: 0 auto;
  line-height: 1.5;
  padding: 0 1em 1em;
  max-width: 45em;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
  font-size: 1.25em;
}

time {
  font-family: monospace;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

a {
  color: #11aacc;
}

a:hover,
a:focus {
  color: #00ffff;
}

span {
  display: none;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  padding: 1em;
  background: #222;
}
