<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Unable to Submit PowerSchool Absence Reports | Riaz's Website</title>
<link rel="stylesheet" href="/style.css">
<link rel="icon" href="data:,">
<meta name="description" content="Set the absence report as for the whole day.">
<meta name="author" content="Riaz">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>Unable to Submit PowerSchool Absence Reports</h1>
<hr>
<article>
<p>Summary: If you can't submit an attendance report on PowerSchool and the absence is not for the full day, set it as a full day anyway until the problems discussed here get solved. Include that the form could not be submitted otherwise in the explanation.</p>
<p>The downside of this is that the classes for that day will be marked according to the form, even if they were attended.</p>
<p>If you can't edit an attendance report after submitting it, inspect the "Edit" button, and remove <code>disabled="disabled"</code> from the HTML.</p>
<h2>Anguish</h2>
<p>How is it that PowerSchool, used by over 60 million students, 18 thousand school organizations, and 90+ countries, also a winner in primary and secondary categories of Tech & Learning’s Awards of Excellence for 2022, is not able to allow its users to easily submit an absence form or edit their submitted reports?</p>
<p>Whenever I pressed on "Submit", instead of an error message, my only indication that something was wrong was nothing happening.</p>
<p>PowerSchool is focused on making money. If these problems don't cause them to lose money, why have employees who are paid by the hour spend time solving them?</p>
<h2>Reporting Problems to PowerSchool</h2>
<p>I can report these problems by</p>
<ol>
<li>submitting a security vulnerable form, which this isn't</li>
<li>contacting their general service support, likely taking multiple weeks of back-and-forth emails to get someone able to solve this</li>
<li>creating an account to write to their community discussion, which might not get anywhere considering that it is for general ideas about improving the service and not technical bugs</li>
</ol>
<p>All of these are not great options, so I wrote this in case someone experiences the same issue.</p>
<h2>The Origins of These Problems</h2>
<h3>Submitting an Absence Form</h3>
<p>I filled out the form with the following information:</p>
<p>Absence Date: 12/3/2024<br>
Leave second date empty if only reporting single day absence.<br>
What is the reason for the absence?: Travel<br>
Is this absence for the whole day?: No<br>
Explanation: Blah, blah, not important for this example, blah, blah, blah.</p>
<p>The "Submit" button calls the <code>submitRequest</code> function.</p>
<pre>&lt;button ng-click="submitRequest()" ng-show="input.id &lt; 0"&gt;Submit&lt;/button&gt;</pre>
<p>This function calls the <code>isValidForm</code> function. In that function, it calls multiple functions to check if the form is valid.</p>
<pre>
$scope.isValidForm = (isOnSubmit) =&gt; {
    $scope.resetFormErrors()

    for (const k in $scope.formErrors) {
        $scope.formErrors[k] = 0;
    }

    let valid = $scope.input.dateStart !== "";
    valid = $scope.verifyReason(valid)
    valid = $scope.verifyDates(valid)
    valid = $scope.verifyExplination(valid)
    valid = $scope.verifyTimes(valid)

    if(!isOnSubmit) {
        for (const k in $scope.formErrors) {
            $scope.formErrors[k] = 0;
        }
    }

    return valid;
}</pre>
<p>The <code>verifyTimes</code> function returns that it is valid if the absence is for the entire day. Otherwise, it performs multiple checks that do not seem to be written correctly, as my form was not able to submitted until I set that it was for the whole day.</p>
<pre>
$scope.verifyTimes = (valid) =&gt; {
    if($scope.input.allday == "1") {
        return true;
    }

    $scope.formErrors.timesRequired = 0;

    if($scope.input.timeStart.length == 0 || $scope.input.timeEnd.length == 0) {
        $scope.formErrors.timesRequired = 1;
        return false
    }

    const startSeconds = apiam.timeToSeconds($scope.input.timeStart);
    const endSeconds = apiam.timeToSeconds($scope.input.timeEnd);
    const bridgeStart = Number($scope.bridgePeriodInfo.daily_time_in_default)
    const bridgeEnd = Number($scope.bridgePeriodInfo.daily_time_out_default)

    // check if neither of the start or end time entered falls in the bridge period default time
    if(!(
        (bridgeStart &lt;= startSeconds &amp;& startSeconds &lt;= bridgeEnd) ||
        (bridgeStart &lt;= endSeconds &amp;& endSeconds &lt;= bridgeEnd)
    )) {
        $scope.formErrors.invalidTime = 1;
        return false
    }

    return true
}</pre>
<h3>Editing an Absence Report</h3>
<p>The button to edit a report looks like this:</p>
<pre>&lt;button ng-if="canCreate" ng-disabled="!canEdit || !r.canEdit" disabled="disabled"&gt;Edit&lt;/button&gt;</pre>
<p>It is not possible to use the button unless you inspect the HTML and remove the part that says <code>disabled="disabled"</code>.</p>
</article>
<footer>
<hr>
<a href="/">Home Page</a></footer>
</body>
</html>
